<div class="share-footer">
  <div class="contents">

    <div class="contet">
      <div class="content-buy">
        <p>購入したい</p>
      </div>
      <div class="buy-lists">
        <li>farm-chef</li>
        <li>食品基準</li>
        <li>ご利用ガイド</li>
        <li>品質保証</li>
        <li>飲食店</li>
        <li>イベント主催</li>
      </div>
    </div>

    <div class="contet">
      <div class="content-buy">
        <p>購入したい</p>
      </div>
      <div class="buy-lists">
        <li>farm-chef</li>
        <li>食品基準</li>
        <li>ご利用ガイド</li>
        <li>品質保証</li>
        <li>飲食店</li>
        <li>イベント主催</li>
      </div>
    </div>

    <div class="contet">
      <div class="content-buy">
        <p>購入したい</p>
      </div>
      <div class="buy-lists">
        <li>farm-chef</li>
        <li>食品基準</li>
        <li>ご利用ガイド</li>
        <li>品質保証</li>
        <li>飲食店</li>
        <li>イベント主催</li>
      </div>
    </div>

    <div class="contet">
      <div class="content-buy">
        <p>購入したい</p>
      </div>
      <div class="buy-lists">
        <li>farm-chef</li>
        <li>食品基準</li>
        <li>ご利用ガイド</li>
        <li>品質保証</li>
        <li>飲食店</li>
        <li>イベント主催</li>
      </div>
    </div>


    
  </div>
</div>