<div class="main_form">
  <div class="followers">
    <% @followers.each do |user| %>
      <div class="follower_icon">
        <div class='user_image'>
          <%= attachment_image_tag user, :user_image %> 
        </div>
        <div class="follower_name">
          <%= link_to user.name, [user] %>
        </div>
      </div>
    <% end %>
  </div>
</div>