/*共通ヘッダー*/
.share-header{
  background-color: #EDEEEF;
  height: 100px;
  display: flex;
}

.search-bar-contents{
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.search-button{
  background-color: #E8E5BD;
  color: #111;
  font-size: 100%;
  width: 80px;
  height: 40px;
  border-radius: 20px;
}
/*farm-chefの横長ロゴ*/

.top-main-contents{
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.heading-img{
  text-align: center;
  margin-top: 10%;
  padding: 10px 60px;
}

.farm-chef-heading-icon{
  width: 80%;
  max-width: 600px;
}
/*トップメッセージ*/
.concep-message{
  display: flex;
  justify-content: center;
  padding-top: 60%;
}

.concep-message p{
  font-size: 200%;
  text-align: center;
}

.service-massage{
  padding-top: 80px;
}
.service-massage-img{
  width: 100%;
}

/*サービスの説明*/
.service-description{
  height: 400px;
  background-color: #fff;
}

/*ユーザーボタン*/
.search-user{
  padding: 20px 40px;
}

.search-user{
  display: flex;
  justify-content: center;
}

.user-box{
  background-color: paleturquoise;
  height: 300px;
  width: 300px;
  margin: 5px;
}

.user-description{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 180px;
  color: #fff;
  padding-top: 20%;
}

.user-box-btn{
  display: flex;
  justify-content: center;
}

.user-btn{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  background-color: #ff0000b5;
  width: 50%;
  max-width: 200px;
  height: 50px;
  border-radius: 20px;
  font-size: 100%;
  padding: 0 10px;
}

.media-list-img{
  width: 100%;
}

.media-img{
  padding: 80px 40px ;
}

.top-page-posts-btn{
  display: flex;
  justify-content: center;
}



/*スライダー部分*/

.out{
    position: relative;
}
.in img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s;
    z-index: 0;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
.out input{
    display: none;
}
.in{
    display: flex;
    justify-content: center;
}
label span{
    display: block;
    width: 15px;
    height: 15px;
    padding: 7px;
    margin: -40px 0 0;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
label span::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #4287f5;
    opacity: 0.5;
    border-radius: 100%;
}            
input:nth-of-type(1):checked ~ .in label:nth-of-type(1) span::before,
input:nth-of-type(2):checked ~ .in label:nth-of-type(2) span::before,
input:nth-of-type(3):checked ~ .in label:nth-of-type(3) span::before,
input:nth-of-type(4):checked ~ .in label:nth-of-type(4) span::before{
    background: #000;
    opacity: 1;
}
label span::before{
    animation: slidebutton 14s infinite;
}
@keyframes slidebutton{
    0%{opacity: 0.5;background: #4287f5;}
    3.5%{opacity: 1;background: #000;}/* b÷x×100=y */
    25%{opacity: 1;background: #000;}/* 100÷c=z */
    28.5%{opacity: 0.5;background: #4287f5;}/* y+z */
}            
label:nth-of-type(2) span::before,label:nth-of-type(2) img{
    animation-delay: 3.5s;
}            
label:nth-of-type(3) span::before,label:nth-of-type(3) img{
    animation-delay: 7s;
}            
label:nth-of-type(4) span::before,label:nth-of-type(4) img{
    animation-delay: 10.5s;
}            
input:nth-of-type(1):checked ~ .in label:nth-of-type(1) img,
input:nth-of-type(2):checked ~ .in label:nth-of-type(2) img,
input:nth-of-type(3):checked ~ .in label:nth-of-type(3) img,
input:nth-of-type(4):checked ~ .in label:nth-of-type(4) img{
    opacity: 1;
    z-index: 1;
}
.in img{
    animation: slide 14s infinite;/* (a+b)×c=x */
    opacity: 0;
}

@keyframes slide{
    0%{opacity: 0;}
    3.5%{opacity: 1;z-index: 1;}/* b÷x×100=y */
    25%{opacity: 1;}/* 100÷c=z */
    28.5%{opacity: 0;z-index: 0;}/* y+z */
}

input:checked ~ .in img,input:checked ~ .in span::before{
    animation: none;
}
/*.in:hover img,.in:hover span::before{
    animation-play-state:paused;/* マウスを載せると一時停止 */
/*}*/

