.sing-up-title{
  text-align: center;
  margin-top: 10%;
}

.sing-up-title p{
  margin-top: 20px;
  font-size: 80%;
}

.register{

  background:linear-gradient(to bottom, #fff, #FFDA33) no-repeat;
}

.field-reg{
  display: flex;
  justify-content: center;
}

.input-birth-wrap{
  display: flex;
  justify-content: center;
}