/*ユーザーのバックグラウンドイメージ*/
.profile-iage{
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 100% 20%;
}
/*ユーザーのプロフィール写真*/
.profile-image{
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}

/*ポジションの一決め*/
.user-background-img{
  position: relative;
  display: block;
}
.user-main-image{
  position: absolute;
  top: 20%;
  left: 10%;
}

.user-name{
  font-weight: bold;
  font-size: 200%;
  color: #f1f1f1;
  position: absolute;
  top: 25%;
  left: 30%;
}

.user-prefecture{
  font-weight: bold;
  font-size: 80%;
  color: #f1f1f1;
  position: absolute;
  top: 30%;
  left: 30%;
}

.user-business-name{
  font-weight: bold;
  font-size: 80%;
  color: #f1f1f1;
  position: absolute;
  top: 35%;
  left: 30%;
}

/*ユーザー情報の表示*/
.user-info{
  background-color: gold;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
}
/*ユーザー情報一覧の左側（画像）*/
.user-info-upper{
  display: flex;
  justify-content: space-around;
}

.user-image-square{
  width: 300px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}


/*ユーザーの情報一覧右側*/

.main-business-name{
  font-weight: bold;
  margin-left: 40px;
}

.main-name{
  font-weight: bold;
  margin-left: 40px;
}

.main-prefecture{
  font-weight: bold;
  margin-left: 40px;
}

.main-profile{
  background-color: rgb(252, 242, 155);
  width: 350px;
  padding: 10px 20px;
  margin: 10px 0px;
  font-size: 80%;
}



/*メッセージを送るボタン*/
.message-send-btn{
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffe600;
  background-color: #fff;
  width: 30%;
  max-width: 200px;
  height: 40px;
  border-radius: 20px;
  font-size: 100%;
  padding: 0 10px;
}

/*この生産者にメッセージを送るボタン*/
.message-send-second-btn{
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffe600;
  background-color: rgb(255, 208, 0);
  width: 30%;
  max-width: 3000px;
  height: 40px;
  border-radius: 20px;
  font-size: 100%;
  padding: 0 10px;
  margin-top: 40px;
}




/*〇〇さんの投稿一覧*/
.posted{
  border: 1px solid #fff;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  margin-top: 80px;
  padding-bottom: 40px;
}

.user-owned-post{
  font-weight: bold;
  text-align: center;
}

.posted-under-line{
  background-color: #FFDA33;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 4px;
}

.posted-user-name{
  text-align: center;
  margin-top: 80px;
}

.posted-user-content{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 600px;
  padding-top: 80px;
}

.posted-img-text{
  border: 2px solid #FFDA33;
  margin-top: 10px;
  display: flex;
  border-radius: 15px;
  padding: 10px 20px;
}

.posted-img{
  margin: 0 10px;
}

.posted-text{
  width: 80%;
  padding: 10px 20px;
}

.posts_image{
  width: 180px;
  margin-top: 20px;
  margin-bottom: 20px;
}


/*他の生産者をみる*/

.another-users{
  background-color: #FFDA33;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
}

.another-users-title{
  font-weight: bold;
  text-align: center;
}

.three-users-list{
  margin-top: 40px;
  background-color: #D7D6D5;
  height: 100px;
}

.users-list-content{
  margin-top: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}













.post__detail{
  display: flex;
  justify-content: center;
}


.profile-image-wrapper{
  display: flex;
  justify-content: center;
}

/*フォローボタン*/
.follow-btn{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  background-color: #00E2FF;
  width: 30%;
  max-width: 400px;
  height: 60px;
  border-radius: 20px;
  font-size: 150%;
  padding: 0 40px;
}

.follow-info{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}


/*DM蘭*/
.message-main{
  /*display: flex;
  justify-content: center;*/
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(235, 235, 235);
  border:1px solid #70707057;
  height: 100px;
  width: 500px;
  margin-top: 80px;
  list-style: none;
}

.dm-title{
  display: flex;
  justify-content: center;
}




/*プロフィール編集ボタン*/

.edit-btn{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  background-color: #00a2ffb5;
  width: 30%;
  max-width: 200px;
  height: 40px;
  border-radius: 20px;
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/*ホームボタン*/
.top-btn{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  background-color: #ff0000b5;
  width: 30%;
  max-width: 200px;
  height: 40px;
  border-radius: 20px;
  font-size: 100%;
  padding: 0 10px;
}

.home-btn{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

/*料理人と生産者の一覧画面*/
.users-list{
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.farmer-lists{
  width: calc((90% - 50px) / 3);
  margin: 10px 10px;
}

.chef-lists{
  width: calc((90% - 50px) / 3);
  margin: 10px 10px;
}

.profile__img{
  padding: 20px 20px;
}

.card__user__name{
  text-decoration: none;
  color: #565656;
  font-weight: bold;
  font-size: 14px;
}

.card__user__text{
  font-size: 14px;
  text-decoration: none;
  color: #565656;
}


.users-list-wrapper{
  padding: 0 20px;

}

.users-list-end-btn{
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.users-main{
  display: flex;
  justify-content: center;
}
